body {
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
    padding: 40px;
    width: 1280px;
    height: 1399px;
    background: #f5f7fa;
}
.wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    width: 1200px;
    height: 1319px;
    left: 40px;
    top: 40px;
}

/* secondary side of doc. */
aside {
    background-color: #1e2939;
    width: 370px;
}
.cvPhoto {
    margin-top: 20px;
}
.headerSecondary {
    color: #ffffff;
}
.paragraphContacts {
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
}
.listSecondaryItem {
    color: #ffffff;
}
.listSecondary {
    color: #fb6d3a;
    padding-left: 0;
    margin-left: 0;
    list-style-position: inside;
}
.blockAside {
    margin-top: 51px;
    margin-left: 40px;
}
.fontBold {
    font-weight: 700;
    padding-right: 5px;
}
.fontOppacityHalf {
    opacity: 0.5;
}

/* Primary side of doc. */
main {
    margin-top: 40px;
    margin-left: 88px;
}
.blockMainName {
    width: 400px;
    height: 230px;
    left: 498px;
    top: 142px;
    margin-bottom: 40px;
}
h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 24px;
}
h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 12px;
}
h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
}
.paragraphPrimary {
    color: #595959;
}
.blockProjects {
    margin-bottom: 51px;
}
.listProjects {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    list-style-position: inside;
    padding-left: 0;
    margin-left: 0;
}
.listProjectsItem {
    font-weight: 400;
    color: #595959;
    text-decoration: none;
}
.blockWork1 {
    margin-bottom: 20px;
    width: 525px;
}
.listWork {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    list-style-position: inside;
    padding-left: 0;
    margin-left: 0;
}
.listWorkItem {
    font-weight: 400;
    color: #595959;
    text-decoration: none;
}
.blockWork2 {
    width: 525px;
    margin-bottom: 20px;
}
.blockWork3 {
    width: 525px;
    margin-bottom: 43px;
}
.blockEdu {
    margin-bottom: 107px;
}
.highlight {
    color: #fb6d3a;
}
.workTime {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #a8a8a8;
}
